@charset "utf-8";
/* CSS Document */
html {
    text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
	font-size: 16px;
}

.main-content {
	margin: 10px;
}


.block-hidder {
	display: none;
}


.txt {
	background-color: #ffffff;
	font-family: 'verdana', 'geneva', 'arial cyr';
}

.main {
	width: 95%;
	margin-left: 2.5%; 
	margin-right: 2.5%;
}

.text-main {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.button {
	background-color: #592C08; 
	border: 2px solid #5D413A; 
	color: #ffffff;
	border-radius: 10px; 
	font-size: 1em;
	width: 100%;
	margin-bottom: 16px;
}

.text-header {
	text-align: center;
	font-size: 1.65em;
}

.inner-title {
	font-size: 1.1em;
}

.title {
	font-size: 1.3em;
}

.table {
	margin-top: 1em;
	margin-bottom: 1em;
}

.td {
	background-image: none;
	padding:2px;
}

a {
	color: #000000;
}


.arts_info  {  
	position: relative;  
	top: 0;  
	left: 0;
}

.arts_parent_info{   
	font-weight: 400; 
	font-family: 'Arial', sans-serif; 
	position: relative;	
	letter-spacing: normal;   
	font-size: 16px;
	-moz-user-select: none;	
	-webkit-user-select: none; 
	-ms-user-select: none; 
	display:inline-block;
}

.cre_mon_parent {  
	position: relative;  
	top: 0;  
	left: 0;  
	height: 50px; 
}

.cre_mon_parent50 {  
	position: relative;  
	top: 0;  
	left: 0;  
	height: 50px; 
}

.cre_mon_parent100 {  
	position: relative;  
	top: 0;  
	left: 0;  
	height: 100px; 
}

.cre_mon_parent200 {  
	position: relative;  
	top: 0;  
	left: 0;  
	height: 200px; 
}

.cre_mon_parent72 {  
	position: relative;  
	top: 0;  
	left: 0;  
	height: 60px; 
}

.cre_mon_image1 {  
	position: relative;  
	top: 0;  
	left: 0;
}

.cre_mon_image2 {  
	position: absolute;  
	top: 0;  
	left: 0;
}

.cre_mon_mini {  
	position: absolute;  
	top: 0;  
	left: 31;
}

.cre_mon_mini72 {  
	position: absolute;  
	top: 1;  
	left: 43;
}

.slot1 {  
	position: absolute;  
	top: 0;  
	left: 60;
}

.slot2 {  
	position: absolute;  
	top: 0;  
	left: 120;
}

.slotbook {  
	position: absolute;  
	top: 0;  
	left: 180;
}

.slot5 {  
	position: absolute;  
	top: 150;  
	left: 0;
}

.slot8 {  
	position: absolute;  
	top: 0;  
	left: 0; 
}

.slot9 {  
	position: absolute;  
	top: 75;  
	left: 0;
}

.slot3 {  
	position: absolute;  
	top: 75;  
	left: 60;
}

.slot4 {  
	position: absolute;  
	top: 75;  
	left: 120;
}

.slot10 {  
	position: absolute;  
	top: 75;  
	left: 180;
}

.slot7 {  
	position: absolute;  
	top: 150;  
	left: 60;
}

.slot6 {  
	position: absolute;  
	top: 150;  
	left: 120;
}

.slott {  
	position: absolute;  
	top: 150;  
	left: 180;
}

.slot11 {  
	position: absolute;  
	top: 0;  
	left: 180;
}

.cre_amount_shift {	
	background: none;
	color: #f5c140;
	text-align: right;
	font-size: 120%;	
	position: absolute;	
	right: 5px;
	bottom: 0.05em;	
	font-weight: bold;	
	text-shadow: 0px 0px 2px #000, 0px 0px 2px #000;
	
	-moz-user-select: none;	
	-webkit-user-select: none;	
	-ms-user-select: none;
	-webkit-font-smoothing: antialiased;	
	-moz-osx-font-smoothing: grayscale;
	pointer-events: none;
}

.cre_amount {	
	background: none;
	color: #f5c140;	
	text-align: right;	
	font-size: 120%;	
	position: absolute;
	right: .2em;
	bottom: 0em;
	font-weight: bold; 
	text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000; 
	-moz-user-select: none;
	-webkit-user-select: none;	
	-ms-user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	pointer-events: none;
}

.cre_amount72 {	
	background: none;	
	color: #f5c140;	
	text-align: right;
	font-size: 120%;	
	position: absolute;
	right: .24em;
	bottom: 0.05em;
	font-weight: bold; text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	pointer-events: none;
}

.cre_amount100 {	
	background: none;	
	color: #f5c140;	
	text-align: right;
	font-size: 160%;
	position: absolute;
	right: .3em;
	bottom: 0.11em;	
	font-weight: bold; 
	text-shadow: 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000, 0px 0px 3px #000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
	-webkit-font-smoothing: antialiased;	
	-moz-osx-font-smoothing: grayscale; 
	pointer-events: none;
}

.cre_creature {  
	font-weight: 400;  
	font-family: 'Arial',sans-serif;   
	width: 60px;
	position: relative;	
	letter-spacing: normal; 
	font-size: 16px;
	-moz-user-select: none;	
	-webkit-user-select: none; 
	-ms-user-select: none; 
	display:inline-block;
}

.cre_creature50x50 {   
	font-weight: 400;  
	font-family: 'Arial',sans-serif; 
	width: 50px;
	position: relative;
	letter-spacing: normal;  
	font-size: 16px;	
	-moz-user-select: none;
	-webkit-user-select: none; 
	-ms-user-select: none;
	display:inline-block;
}

.cre_creature72 {   
	font-weight: 400;  
	font-family: 'Arial',sans-serif; 
	width: 72px; 
	position: relative;	
	letter-spacing: normal;    
	font-size: 16px;	
	-moz-user-select: none;
	-webkit-user-select: none; 
	-ms-user-select: none; 
	display:inline-block;
}

.cre_creature100 {   
	font-weight: 400;   
	font-family: 'Arial',sans-serif; 
	width: 120px; 
	position: relative;	
	letter-spacing: normal;    
	font-size: 16px;	
	-moz-user-select: none;	
	-webkit-user-select: none; 
	-ms-user-select: none; 
	display:inline-block;
}

.art_durability_hidden {
   position: absolute; 
   top: 0px; 
   left: 0px; 
   background-color:rgba(255, 255, 255, 0.5); 
   color: black; 
   font-size: 75%;
   z-index: 1;
   webkit-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none; 
   user-select: none; 
   pointer-events: none;
}

